<template>
    <div>
        <div class="select_section">
            <div id="date">Select date<span></span></div>
            <div id="league">Select league<span></span></div>
        </div>
        <div class="select_list">
            <div id="date_list">
                <p>28 jun</p>
                <p>28 jun</p>
                <p>28 jun</p>
                <p>28 jun</p>
                <p>28 jun</p>
                <p>28 jun</p>
                <p>28 jun</p>
                <p>28 jun</p>
                <p>28 jun</p>
            </div>
            <div id="league_list">
                <p>test_random_1</p>
                <p>test_random_2</p>
                <p>test_random_3</p>
                <p>test_random_4</p>
            </div>
        </div>
    </div>
</template>

<script>

</script>