<template>
    <footer>
        <div class="footer_box">
            <div class="footer_info">
                <div>
                    <p>OneNil</p>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">F.A.Q</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
                <div>
                    <p>Follow Us</p>
                    <ul style="text-align: right;">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_date">
                <p>© 2018 — OneNil. All rights reserved.</p>
                <p>8b Francis Terrace, London, N19 5PW, UK.</p>
            </div>
        </div>
    </footer>
</template>