<template>
    <div class="league">
        <div class="league_box">
            <div v-for="mat in matches" v-if="mat.match.length > 0">
                <div class="league_name">
                    {{ mat.name }}
                </div>
                <div class="team_league" v-for="match in mat.match">
                    <div>
                        <ul>
                            <li><img src="/public/image/team_logo_test1.png" alt="team_image">{{ match.first_team}}</li>
                            <li><img src="/public/image/team_image_test2.png" alt="team_image">{{ match.second_team}}</li>
                        </ul>
                    </div>
                    <div>
                        <router-link to="/catalog/onepick">
                            <input type="radio" name="radio">
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                matches: []
            };
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios
                    .get('/public/info')
                    .then(response => {
                        this.matches = response.data;
                        console.log(this.matches);
                    }).catch(error => {
                    this.error = 'не работает бля';
                })
            }
        },
    }
</script>