<template>
    <div class="login">
        <div class="login_box">
            <div class="clause_site">
                <ul>
                    <li class="round">Win up to <span>$100</span> every day</li>
                    <li class="round"><span>Free</span> to play forever</li>
                    <li class="round">You only need to pick one game which will end in <span>1-0</span>; a home win, 0-1 doesn’t count</li>
                    <li class="round">Refer 2 of your friends and you get <span>3 picks</span> every day</li>
                    <li class="round">If there are multple winners, the $100 daily jackpot gets <span>shared</span></li>
                </ul>
            </div>
            <div class="registration">
                <div>
                    <button href="#" id="facebook">Sign in</button>
                </div>
                <div style="margin-left: 26px;">
                    <button href="#" id="twitter">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</template>
