<template>
    <div>
        <div class="logo">
            <div class="logo_case">
                <div class="logo_photo" style="margin:0 auto; padding-left: 0;">
                    <img src="/public/image/logo.png" alt="logo photo">
                </div>
            </div>
        </div>
        <filterselect></filterselect>
        <loginview></loginview>
        <league></league>
        <footeronenil></footeronenil>
    </div>
</template>