<template>
    <div>
        <div class="logo">
            <div class="logo_case">
                <div class="logo_menu">
                    <div class="img"></div>
                </div>
                <div class="logo_photo">
                    <router-link to="/catalog">
                        <img src="/public/image/logo.png" alt="logo photo">
                    </router-link>
                </div>
                <div class="logo_user">
                    <span>$89.00</span>
                    <div class="user_image">
                        <img src="/public/image/user_images/default_image_user.png" alt="avatar user">
                    </div>
                </div>
            </div>
            <div class="logo_select">
                <ul>
                    <li>Balance:$89.00</li>
                    <li><router-link to="/catalog/news" style="text-decoration: none; color: white;">Newsfeed</router-link></li>
                    <li><router-link to="/catalog/myaccount" style="text-decoration: none; color: white;">My Account</router-link></li>
                    <li><router-link to="/user/logout" style="text-decoration: none; color: white;">log out</router-link></li>
                </ul>
            </div>
        </div>
        <router-view name="FilterSelect"></router-view>
        <router-view></router-view>
        <router-view name="League"></router-view>
        <footeronenil></footeronenil>
    </div>
</template>

<script>


</script>