.user_win {
  color: #4c4f63;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 35px 0 8px 11px;
}

.user_win_text {
  padding: 11px;
  max-width: 600px;
  background-color: #ebebeb;
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user_win_text span {
  margin-top: 3px;
  display: block;
  width: 100%;
}

/*
.team_league:last-child{
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 13px!important;
  font-size: 13px!important;
  span{
    display: block;
    color: #4c4f63;
    font-size: 13px;
    line-height: 13px;
    font-weight: lighter;
    max-width: 542px;
    margin:0 0 3px 0;
    font-family: "Circular - Book", sans-serif;
  }
}*/

