.friend_referal {
  display: block;
  width: 100%;
}

.friend_referal .friend_referal_box {
  display: block;
  margin: 45px auto 0;
  max-width: 600px;
}

.friend_referal .friend_referal_box .friend_title {
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 0 0 20px 0;
}

.friend_referal .friend_referal_box .friend_title h3 {
  color: #4c4f63;
  margin: 0;
}

.friend_referal .friend_referal_box .friend_text {
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
  display: block;
  width: 100%;
}

.friend_referal .friend_referal_box .friend_text p {
  color: #4c4f63;
}

.friend_referal .friend_referal_box .friend_text input {
  display: block;
  max-width: 600px;
  width: 97%;
  font-size: 14px;
  font-weight: 300;
  padding: 17px 0 17px 15px;
  border: 1px solid #4c4f63;
}

.friend_referal .friend_referal_box .friend_button {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friend_referal .friend_referal_box .friend_button .button_invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 285px;
}

.friend_referal .friend_referal_box .friend_button .button_invite button {
  padding: 15px 32px 18px 42px;
  width: 120px;
  background-color: #3b5998;
  border: 0px solid white;
  color: #fff;
  font-family: "Circular - Book", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 18px;
  position: relative;
}

.friend_referal .friend_referal_box .friend_button .button_invite button:last-child {
  background-color: #1da1f2;
}

.friend_referal .friend_referal_box .friend_button .button_invite button::before {
  content: url("/public/image/pointer-right.png");
  position: absolute;
  top: 15px;
  right: -15px;
}

.friend_referal .friend_referal_box .friend_button .button_invite button::after {
  content: url("/public/image/facebook.png");
  position: absolute;
  top: 14px;
  left: 20px;
}

.friend_referal .friend_referal_box .friend_button .button_invite button:last-child::after {
  content: url("/public/image/twitter.png");
}

.friend_referal .friend_referal_box .friend_button .button_cansel {
  margin-top: 15px;
}

.friend_referal .friend_referal_box .friend_button .button_cansel button {
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 18px;
  padding: 15px 0 19px;
  border: 0px solid white;
  width: 285px;
  background-color: #ebebeb;
  position: relative;
}

.friend_referal .friend_referal_box .friend_button .button_cansel button::before {
  content: url("/public/image/pointer-right.png");
  position: absolute;
  top: 15px;
  right: -15px;
}

