@font-face {
  font-family: 'Circular Book';
  font-style: normal;
  font-weight: normal;
  /*src: local('Circular Book'), url('/public/css/font/lineto-circular-pro-book.woff') format('woff');*/
}

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #4c4f63;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #353849;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #353849;
}

body {
  background-color: #fff;
}

.header {
  display: block;
  width: 100%;
  z-index: 2;
}

.select_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.select_section div {
  display: block;
  width: 50%;
  line-height: 9px;
  color: #4c4f63;
  font-family: 'Circular Book', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding: 22px 15px 21px;
  border: 1px solid #ebebeb;
  font-stretch: ultra-expanded;
  border-left: 0;
  border-right: 0;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.select_section #date {
  border-right: 1px solid #ebebeb;
}

.select_section span {
  width: 10px;
  height: 6px;
  background-image: url("/public/image/pointer_down.png");
  float: right;
  margin-top: 2px;
}

.select_section .open {
  background-color: #4c4f63;
  color: white;
  border-bottom: 1px solid #4c4f63;
}

.select_section .open span {
  width: 10px;
  height: 6px;
  background-image: url("/public/image/pointer_up.png");
  float: right;
  margin-top: 2px;
}

.select_list {
  display: block;
  visibility: hidden;
  position: relative;
  width: 100%;
  color: #fff;
}

.select_list::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #4c4f63;
  z-index: 2;
}

.select_list_open {
  visibility: visible;
}

.select_list div {
  display: none;
  visibility: hidden;
  position: absolute;
}

.select_list div.open_list {
  display: block;
  visibility: visible;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  background-color: #4c4f63;
  width: 100%;
  max-height: 400px;
  overflow: scroll;
  position: relative;
}

.select_list div.open_list p {
  padding: 15px 0;
  border-top: 1px solid #353849;
  margin: 15px 15px -15px 15px;
}

/* Login ************************************************/

.login {
  width: 100%;
  display: block;
  z-index: 0;
}

.login_box {
  margin: 43px auto 0;
  width: 100%;
  max-width: 600px;
  display: block;
}

.clause_site ul {
  padding-left: 33px;
}

.round {
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
  list-style-type: none;
  position: relative;
}

.round:before {
  content: '';
  position: absolute;
  padding: 4px;
  top: 7px;
  left: -34px;
  background-color: white;
  border-radius: 44% 45% 45% 45%;
}

.round:nth-child(1):before {
  border: 4px solid #f5624f;
}

.round:nth-child(2):before {
  border: 4px solid #eeec30;
}

.round:nth-child(3):before {
  border: 4px solid #837beb;
}

.round:nth-child(4):before {
  border: 4px solid #00fffe;
}

.round:nth-child(5):before {
  border: 4px solid #4adaa9;
}

.round:nth-child(1) span {
  border: 4px solid #f5624f;
}

.round:nth-child(2) span {
  border: 4px solid #eeec30;
}

.round:nth-child(3) span {
  border: 4px solid #837beb;
}

.round:nth-child(4) span {
  border: 4px solid #00fffe;
}

.round:nth-child(5) span {
  border: 4px solid #4adaa9;
}

.round:nth-child(1) span,
.round:nth-child(2) span,
.round:nth-child(3) span,
.round:nth-child(4) span,
.round:nth-child(5) span {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 22px;
  display: inline-block;
}

.registration {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 600px;
}

.registration #facebook:before,
.registration #twitter:before {
  position: absolute;
  left: 16px;
}

.registration #facebook:after,
.registration #twitter:after {
  position: absolute;
  right: -16px;
  top: 16px;
}

.registration button {
  color: #ffffff;
  font-family: "Circular - Book", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  padding: 16px 25px 15px 41px;
  position: relative;
  letter-spacing: 0.85px;
}

.registration #facebook {
  background-color: #3b5998;
}

.registration #facebook:before {
  content: url("/public/image/facebook.png");
}

.registration #facebook:after {
  content: url("/public/image/pointer-right.png");
}

.registration #twitter {
  background-color: #1da1f2;
}

.registration #twitter:before {
  content: url("/public/image/twitter.png");
}

.registration #twitter:after {
  content: url("/public/image/pointer-right.png");
}

.registration div {
  width: 137px;
}

/* Legue */

.league {
  width: 100%;
  display: block;
}

.league_box {
  margin: 51px auto 0;
  display: block;
  width: 100%;
  max-width: 600px;
}

.league_name {
  color: #4c4f63;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 0 0 8px 0;
}

.team_league {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
  padding: 12px 16px 14px 15px;
  line-height: 0;
  font-size: 0;
  background-color: #ebebeb;
  margin-bottom: 3px;
  letter-spacing: 0.40px;
}

.team_league:last-child {
  margin-bottom: 0px;
}

.team_league img {
  margin-right: 10px;
}

.team_league ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 0;
}

.team_league li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_league ul li:nth-child(1) {
  margin-bottom: 10px;
}

.team_league input {
  margin-top: 21px;
}

/*footer*/

footer {
  width: 100%;
  display: block;
}

footer .footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 0;
}

footer .footer_box .footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_box .footer_info p {
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
}

footer .footer_box .footer_info ul {
  list-style-type: none;
  padding: 0;
}

footer .footer_box .footer_info ul li {
  margin-bottom: 4px;
}

footer .footer_box .footer_info a {
  text-decoration: none;
  color: #4c4f63;
  font-size: 14px;
  font-weight: lighter;
}

footer .footer_box .footer_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  margin-bottom: 50px;
}

footer .footer_box .footer_date p {
  margin: 0 auto 5px;
  width: 100%;
  max-width: 275px;
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.44px;
  text-align: center;
}

