.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.logo .logo_case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo .logo_case .logo_menu {
  cursor: pointer;
  padding: 19px 19px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.logo .logo_case .logo_menu .img {
  background-image: url("/public/image/menu_close.png");
  width: 24px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.logo .logo_case .logo_menu .img_active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-image: url("/public/image/menu_active.png");
}

.logo .logo_case .logo_menu_active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #4c4f63;
}

.logo .logo_case .logo_photo {
  padding: 14px 0 15px 25px;
  background-size: cover;
}

.logo .logo_case .logo_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.logo .logo_case .logo_user span {
  color: #0d0c21;
  font-family: "Circular - Book", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 8px;
}

.logo .logo_case .logo_user .user_image {
  height: 20px;
  width: 20px;
  position: relative;
}

.logo .logo_case .logo_user .user_image img {
  height: 20px;
  width: 20px;
}

.logo .logo_case .logo_user .user_image::before {
  content: "";
  background-color: #4adaa9;
  border-radius: 50% 50% 50% 50%;
  height: 6px;
  width: 6px;
  right: 0;
  position: absolute;
  z-index: 99;
}

.logo .logo_select {
  padding: 15px 15px 0;
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  height: 385px;
  width: 100%;
  background-color: #4b4f62;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.logo .logo_select ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #353849;
}

.logo .logo_select ul li {
  color: #ffffff;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 37px;
  border-bottom: 1px solid #353849;
}

.logo .logo_select_active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  visibility: visible;
}

