.news {
  margin-top: 45px;
  display: block;
  width: 100%;
}

.news .news_box {
  margin: 0 auto;
  max-width: 600px;
  display: block;
}

.news .news_box .title_news {
  border-bottom: 1px solid #ebebeb;
  padding: 14px 0;
}

.news .news_box .title_news h3 {
  margin: 0;
  color: #4c4f63;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.news .news_box .news_list {
  padding-top: 13px;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px solid #ebebeb;
}

.news .news_box .news_list span {
  color: #4adaa9;
}

.news .news_box .news_list p {
  color: #4c4f63;
}

