.league {
  margin: 51px auto 200px;
  display: block;
  width: 100%;
  max-width: 600px;
}

.stake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stake div:first-child {
  margin-bottom: 20px;
}

.stake div {
  line-height: 20px;
  font-size: 13px;
  font-weight: lighter;
  color: #4c4f63;
}

.button_option {
  width: 100%;
}

.button_option a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button_option a div {
  margin: 13px auto;
  max-width: 284px;
  background-color: #ebebeb;
  color: #4c4f63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 50px;
  position: relative;
  cursor: pointer;
  border: 1px solid white;
}

.button_option a div:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #b0b0b0;
  background-color: #fff;
  border: 1px solid #b0b0b0;
}

.button_option a:first-child div {
  background-color: #4adaa9;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid white;
}

.button_option a:first-child div:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #4adaa9;
  background-color: #fff;
  border: 1px solid #4adaa9;
}

.button_option a div::before {
  content: url("/public/image/pointer-right.png");
  position: absolute;
  right: -15px;
  top: 2px;
}

