.user_account {
  display: block;
  width: 100%;
  margin-top: 45px;
}

.user_account .user_account_box {
  margin: 0 auto;
  display: block;
  max-width: 600px;
}

.user_account .user_account_box .account_title {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.user_account .user_account_box .account_title h3 {
  color: #4c4f63;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.user_account .user_account_box .first_info_user {
  padding: 17px 0;
  max-width: 600px;
  border-bottom: 1px solid #ebebeb;
}

.user_account .user_account_box .first_info_user p {
  color: #afafb1;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.user_account .user_account_box .user_refer {
  padding: 17px 0;
  max-width: 600px;
  border-bottom: 1px solid #ebebeb;
}

.user_account .user_account_box .user_refer p {
  color: #afafb1;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.user_account .user_account_box .user_refer input {
  margin-top: 12px;
  width: 100%;
  max-width: 583px;
  padding: 14px 0 15px 15px;
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
  overflow: hidden;
  border: 1px solid #4c4f63;
  background-color: #fff;
}

.user_account .user_account_box .user_paypal {
  max-width: 600px;
  border-bottom: 1px solid #ebebeb;
}

.user_account .user_account_box .user_paypal p {
  color: #afafb1;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.user_account .user_account_box .user_paypal input {
  margin-top: 12px;
  width: 100%;
  max-width: 583px;
  padding: 14px 0 15px 15px;
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
  overflow: hidden;
  border: 1px solid #4c4f63;
  background-color: #fff;
}

