.user_list{
  display: block;
  width: 100%;
  position: relative;
  .user_list_box{
    display: block;
    width: 90%;
    margin: 0 auto;
    .list_section{
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border: 1px solid #4c4f63;
      background-color: #ebebeb;
      border-radius: 10px 10px 10px 10px;
      padding: 10px 10px 3px 10px;
      div{
        p{
          color: #595659;
          font-size: 18px;
        }
      }
      div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
          padding: 0 10px;
          border: 1px solid #353849;
          border-top: 0;
          border-bottom: 0;
          border-right: 0;
          font-size: 16px;
        }
        a{
          text-decoration: none;
          color: #595659;
          font-size: 16px;
          padding: 0 10px;
          border: 1px solid #353849;
          border-top: 0;
          border-bottom: 0;
          border-right: 0;
          height: 25px;
        }
      }
    }
  }
}

.popup-checkbox, .popup {
  display: none;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup:before {
  display: none;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

.popup-content {
  width: 50%;
  height: 80%;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 23%;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-shower {
  cursor: pointer;
}

.popup-shower:hover {
  color: #00a;
}

.popup-closer {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999;
  font-size: 20px;
  border: 1px solid #999;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-closer:hover {
  background-color: #eee;
}
.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}
.user_title{
  display: flex;
  flex-direction: row;
  img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    -webkit-background-size: cover;
    background-size: cover;
    margin-right: 30px;
  }
  p{
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
  }
}