
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* width */
::-webkit-scrollbar {
  width: 15px;
  padding: 0 10px 0 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4c4f63;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353849;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353849;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
