@font-face {
  font-family: 'Circular Book';
  font-style: normal;
  font-weight: normal;
  /*src: local('Circular Book'), url('/public/css/font/lineto-circular-pro-book.woff') format('woff');*/
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4c4f63;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #353849;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353849;
}

body {
  background-color: #fff;
}

.header {
  display: block;
  width: 100%;
  z-index: 2;
}

.select_section {
  display: flex;
  width: 100%;
  position: relative;
}

.select_section div {
  display: block;
  width: 50%;
  line-height: 9px;
  color: #4c4f63;
  font-family: 'Circular Book', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding: 22px 15px 21px;
  border: 1px solid #ebebeb;
  font-stretch: ultra-expanded;
  border-left: 0;
  border-right: 0;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}

.select_section #date {
  border-right: 1px solid #ebebeb;
}

.select_section span {
  width: 10px;
  height: 6px;
  background-image: url("/public/image/pointer_down.png");
  float: right;
  margin-top: 2px;
}

.select_section .open {
  background-color: #4c4f63;
  color: white;
  border-bottom: 1px solid #4c4f63;
}

.select_section .open span {
  width: 10px;
  height: 6px;
  background-image: url("/public/image/pointer_up.png");
  float: right;
  margin-top: 2px;
}

.select_list {
  display: block;
  visibility: hidden;
  position: relative;
  width: 100%;
  color: #fff;
  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #4c4f63;
    z-index: 2;
  }
  &_open {
    visibility: visible;
  }
}

.select_list div {
  display: none;
  visibility: hidden;
  position: absolute;
}

.select_list div.open_list {
  display: block;
  visibility: visible;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  background-color: #4c4f63;
  width: 100%;
  max-height: 400px;
  overflow: scroll;
  position: relative;
}

.select_list div.open_list p {
  padding: 15px 0;
  border-top: 1px solid #353849;
  margin: 15px 15px -15px 15px;
}

/* Login ************************************************/
.login {
  width: 100%;
  display: block;
  z-index: 0;
}

.login_box {
  margin: 43px auto 0;
  width: 100%;
  max-width: 600px;
  display: block;
}

.clause_site ul {
  padding-left: 33px;
}

.round {
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
  list-style-type: none;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    padding: 4px;
    top: 7px;
    left: -34px;
    background-color: white;
    border-radius: 44% 45% 45% 45%;
  }
  &:nth-child(1):before {
    border: 4px solid #f5624f;
  }
  &:nth-child(2):before {
    border: 4px solid #eeec30;
  }
  &:nth-child(3):before {
    border: 4px solid #837beb;
  }
  &:nth-child(4):before {
    border: 4px solid #00fffe;
  }
  &:nth-child(5):before {
    border: 4px solid #4adaa9;
  }

  &:nth-child(1) span {
    border: 4px solid #f5624f;
    @extend %border_span;
  }
  &:nth-child(2) span {
    border: 4px solid #eeec30;
    @extend %border_span;
  }
  &:nth-child(3) span {
    border: 4px solid #837beb;
    @extend %border_span;
  }
  &:nth-child(4) span {
    border: 4px solid #00fffe;
    @extend %border_span;
  }
  &:nth-child(5) span {
    border: 4px solid #4adaa9;
    @extend %border_span;
  }
}

%border_span {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  height: 22px;
  display: inline-block;
}

.registration {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

%before_registration {
  position: absolute;
  left: 16px;
}

%after_registration {
  position: absolute;
  right: -16px;
  top: 16px;
}

.registration {

  button {
    color: #ffffff;
    font-family: "Circular - Book", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    padding: 16px 25px 15px 41px;
    position: relative;
    letter-spacing: 0.85px;
  }
  #facebook {
    background-color: #3b5998;
    &:before {
      content: url("/public/image/facebook.png");
      @extend %before_registration;
    }
    &:after {
      content: url("/public/image/pointer-right.png");
      @extend %after_registration;
    }
  }
  #twitter {
    background-color: #1da1f2;
    &:before {
      content: url("/public/image/twitter.png");
      @extend %before_registration;
    }
    &:after {
      content: url("/public/image/pointer-right.png");
      @extend %after_registration;
    }
  }
}

.registration div {
  width: 137px;
}

/* Legue */
.league {
  width: 100%;
  display: block;
}

.league_box {
  margin: 51px auto 0;
  display: block;
  width: 100%;
  max-width: 600px;
}

.league_name {
  color: #4c4f63;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 0 0 8px 0;
}

.team_league {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  padding: 12px 16px 14px 15px;
  line-height: 0;
  font-size: 0;
  background-color: #ebebeb;
  margin-bottom: 3px;
  letter-spacing: 0.40px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.team_league img {
  margin-right: 10px;
}

.team_league ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0;
  color: #4c4f63;
  font-family: "Circular - Book", sans-serif;
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 0;
}

.team_league li {
  display: flex;
  align-items: center;
}

.team_league ul li:nth-child(1) {
  margin-bottom: 10px;
}

.team_league input {
  margin-top: 21px;
}

/*footer*/
footer {
  width: 100%;
  display: block;
  .footer_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0;
    .footer_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        color: #4c4f63;
        font-family: "Circular - Book", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.18px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          margin-bottom: 4px;
        }
      }
      a {
        text-decoration: none;
        color: #4c4f63;
        font-size: 14px;
        font-weight: lighter;
      }
    }
    .footer_date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 35px;
      margin-bottom: 50px;
      p {
        margin: 0 auto 5px;
        width: 100%;
        max-width: 275px;
        color: #4c4f63;
        font-family: "Circular - Book", sans-serif;
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 0.44px;
        text-align: center;
      }
    }
  }
}























