<template>
    <div class="league">
        <div class="league_name">
            Your pick - Confirmed
        </div>
        <div class="team_league">
            <div>
                <ul>
                    <li><img src="/public/image/team_logo_test1.png" alt="team_image">Tottenham Hotspur</li>
                    <li><img src="/public/image/team_image_test2.png" alt="team_image">Aston Villa</li>
                </ul>
            </div>
            <div class="stake">
                <div>1</div>
                <div>0</div>
            </div>
        </div>
        <div class="user_win">
            Win $78.50
        </div>
        <div class="user_win_text">
            <span>
                Place a $10 bet on 1-0 in the Tottenham Hotspur - Aston Villa match and you could win $78.50 at Unibet.
            </span>
            <span>
                Claim your $25 free bet today.
            </span>
        </div>
        <div class="button_option">
            <router-link to="/catalog">
                <div>
                    Bet
                </div>
            </router-link>
        </div>
    </div>
</template>