<template>
    <div class="friend_referal">
        <div class="friend_referal_box">
            <div class="friend_title">
                <h3>More fun and more win chances...</h3>
            </div>
            <div class="friend_text">
                <p>Refer 2 friends to OneNilby sharing this link and you get 3 picks every day, instead of 1. More win
                    chances and more fun</p>
                <input type="text" placeholder="PayPal email address"/>
            </div>
            <div class="friend_button">
                <div class="button_invite">
                    <button>Invite</button>
                    <button>Invite</button>
                </div>
                <div class="button_cansel">
                    <router-link to="/catalog">
                        <button>Not now</button>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>