<template>
    <div class="news">
        <div class="news_box">
            <div class="title_news">
                <h3>News feed</h3>
            </div>
            <div class="news_list">
                <span>28 Jun</span>
                <p>Your friend Ruud Pietersen picked Aston Villa - Tottenham Hotspur as pick of the day for 28 Jun</p>
            </div>
            <div class="news_list">
                <span>28 Jun</span>
                <p>Your friend Ruud Pietersen picked Aston Villa - Tottenham Hotspur as pick of the day for 28 Jun</p>
            </div>
            <div class="news_list">
                <span>28 Jun</span>
                <p>Your friend Ruud Pietersen picked Aston Villa - Tottenham Hotspur as pick of the day for 28 Jun</p>
            </div>
            <div class="news_list">
                <span>28 Jun</span>
                <p>Somesing news</p>
            </div>
        </div>
    </div>
</template>