<template>
    <div class="league">
        <div class="league_name">
            Your pick
        </div>
        <div class="team_league">
            <div>
                <ul>
                    <li><img src="/public/image/team_logo_test1.png" alt="team_image">Tottenham Hotspur</li>
                    <li><img src="/public/image/team_image_test2.png" alt="team_image">Aston Villa</li>
                </ul>
            </div>
            <div class="stake">
                <div>1</div>
                <div>0</div>
            </div>
        </div>
        <div class="button_option">
            <router-link to="/catalog/confirmed">
                <div>
                    Confirm
                </div>
            </router-link>
            <router-link to="/catalog">
                <div>
                    Cancel
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>

</script>