<template>
    <div class="referal">
        <div class="referal_box">
            <div class="referal_comment">
                <p>Refer 2 friends to OneNil by sharing this link and you get 3 picks every day, instead of 1. More win
                    chances and more fun to play with your friends!</p>
            </div>
            <div class="referal_input">
                <div class="referal_link">
                    <input type="text" value="https://onenil.co/hyt1234"/>
                </div>
                <div class="referal_social">
                    <router-link to="#">
                        <button>
                            Invite
                        </button>
                    </router-link>
                    <router-link to="#">
                        <button>
                            Invite
                        </button>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>