<template>
    <div class="user_account">
        <div class="user_account_box">
            <div class="account_title">
                <h3>My Account</h3>
            </div>
            <div class="first_info_user">
                <p>Ruud Verdellen</p>
                <p>ruudverdellen@yahoo.com</p>
            </div>
            <div class="user_refer">
                <p>tour refer a friend link:</p>
                <input type="text" value="https://onenil.co/hyt1234">
            </div>
            <div class="user_paypal">
                <p>Your PayPal account:</p>
                <input type="text" value="ruudverdellen@yahoo.com">
            </div>
        </div>
        <div class="button_option">
            <router-link to="/catalog">
                <div>
                    Save
                </div>
            </router-link>
            <router-link to="/catalog">
                <div>
                    Remove Account
                </div>
            </router-link>
        </div>
    </div>
</template>