.referal{
  margin: 45px 0 45px 0;
  display: block;
  width: 100%;
  .referal_box{
    display: block;
    max-width: 600px;
    margin: -2px auto 0;
    .referal_comment{
      max-width: 600px;
      border-left: 4px solid #837beb;
      p{
        margin: 0;
        padding: 13px 31px 13px 19px;
        background-color: #dfddf7;
        color: #4c4f63;
        font-family: "Circular - Book", sans-serif;
        font-size: 14px;
        font-weight: lighter;
        line-height: 17px;
      }
    }
    .referal_input{
      margin: 14px 0 0;
      display: flex;
      flex-direction: row;
      .referal_link{
        width: 50%;
        input{
          width: 77%;
          max-width: 250px;
          padding: 14px 0 15px 15px;
          color: #4c4f63;
          font-family: "Circular - Book", sans-serif;
          font-size: 14px;
          font-weight: lighter;
          line-height: 18px;
          overflow: hidden;
          border: 1px solid #4c4f63;
          background-color: #ffffff;
        }
      }
      .referal_social{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
          position: relative;
          text-decoration: none;
          button{
            padding: 15px 33px 15px 41px;
            background-color: #3b5998;
            color: #ffffff;
            font-family: "Circular - Book", sans-serif;
            font-size: 18px;
            font-weight: lighter;
            line-height: 18px;
          }
          &:last-child button{
            background-color: #1da1f2;
            color: #ffffff;
            font-family: "Circular - Book", sans-serif;
            font-size: 18px;
            font-weight: lighter;
            line-height: 18px;
            margin-right: 17px;
          }
          &::after{
            content: url("/public/image/facebook.png");
            position: absolute;
            left: 21px;
            top: 15px;
          }
          &:last-child::after{
            content: url("/public/image/twitter.png");
            position: absolute;
            left: 16px;
            top: 15px;
          }
          &::before{
            content: url("/public/image/pointer-right.png");
            position: absolute;
            right: -15px;
            top: 15px;
          }
          &:last-child::before{
            content: url("/public/image/pointer-right.png");
            position: absolute;
            right: 2px;
            top: 15px;
          }
        }
      }
    }
  }
}