.friend_referal{
  display: block;
  width: 100%;
  .friend_referal_box{
    display: block;
    margin: 45px auto 0;
    max-width: 600px;
    .friend_title{
      font-family: "Circular Std", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      padding: 0 0 20px 0;
      h3{
        color: #4c4f63;
        margin: 0;
      }
    }
    .friend_text{
      font-family: "Circular - Book", sans-serif;
      font-size: 14px;
      font-weight: lighter;
      line-height: 18px;
      display: block;
      width: 100%;
      p{
        color: #4c4f63;
      }
      input{
        display: block;
        max-width: 600px;
        width: 97%;
        font-size: 14px;
        font-weight: 300;
        padding: 17px 0 17px 15px;
        border: 1px solid #4c4f63;
      }
    }
    .friend_button{
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .button_invite{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 285px;
        button{
          padding: 15px 32px 18px 42px;
          width: 120px;
          background-color: #3b5998;
          border: 0px solid white;
          color: #fff;
          font-family: "Circular - Book", sans-serif;
          font-size: 18px;
          font-weight: lighter;
          line-height: 18px;
          position: relative;
          &:last-child{
            background-color: #1da1f2;
          }
          &::before{
            content: url("/public/image/pointer-right.png");
            position: absolute;
            top: 15px;
            right: -15px;
          }
          &::after{
            content: url("/public/image/facebook.png");
            position: absolute;
            top: 14px;
            left: 20px;
          }
          &:last-child::after{
            content: url("/public/image/twitter.png");
          }
        }
      }
      .button_cansel{
        margin-top: 15px;
        button{
          color: #4c4f63;
          font-family: "Circular - Book", sans-serif;
          font-size: 18px;
          font-weight: lighter;
          line-height: 18px;
          padding: 15px 0 19px;
          border: 0px solid white;
          width: 285px;
          background-color: #ebebeb;
          position: relative;
          &::before{
            content: url("/public/image/pointer-right.png");
            position: absolute;
            top: 15px;
            right: -15px;
          }
        }
      }
    }
  }
}