.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ebebeb;
  .logo_case{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo_menu{
      cursor: pointer;
      padding: 19px 19px;
      background-color: #fff;
      transition: 0.2s;
      .img{
        background-image: url("/public/image/menu_close.png");
        width: 24px;
        height: 12px;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.2s;
        &_active{
          transition: 0.2s;
          background-image: url("/public/image/menu_active.png");
        }
      }
      &_active{
        transition: 0.2s;
        background-color: #4c4f63;
      }
    }
    .logo_photo {
      padding: 14px 0 15px 25px;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .logo_user{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-right: 12px;
      span{
        color: #0d0c21;
        font-family: "Circular - Book", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-right: 8px;
      }
      .user_image{
        height: 20px;
        width: 20px;
        position: relative;
        img{
          height: 20px;
          width: 20px;
        }
        &::before{
          content: "";
          background-color: #4adaa9;
          border-radius: 50% 50% 50% 50%;
          height: 6px;
          width: 6px;
          right: 0;
          position: absolute;
          z-index: 99;
        }
      }
    }
  }
  .logo_select{
    padding: 15px 15px 0;
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 3;
    height: 385px;
    width: 100%;
    background-color: #4b4f62;
    transition: 0.2s;
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-top:1px solid #353849;
      li{
        color: #ffffff;
        font-family: "Circular - Book", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 37px;
        border-bottom:1px solid #353849;
      }
    }
    &_active{
      transition: 0.2s;
      display: block;
      visibility: visible;
    }
  }
}