.news{
  margin-top: 45px;
  display: block;
  width: 100%;
  .news_box{
    margin: 0 auto;
    max-width: 600px;
    display: block;
    .title_news{
      border-bottom: 1px solid #ebebeb;
      padding: 14px 0;
      h3{
        margin: 0;
        color: #4c4f63;
        font-family: "Circular Std", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
      }
    }
    .news_list{
      padding-top: 13px;
      font-family: "Circular - Book", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      border-bottom:1px solid #ebebeb;
      span{
        color: #4adaa9;
      }
      p{
        color: #4c4f63;
      }
    }
  }
}