.league{
    margin: 51px auto 200px;
    display: block;
    width: 100%;
    max-width: 600px;
}
.stake{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div:first-child{
    margin-bottom: 20px;
  }
  div{
    line-height: 20px;
    font-size: 13px;
    font-weight: lighter;
    color: #4c4f63;
  }
}
.button_option{
  width: 100%;
  a{
    text-decoration: none;
    transition: 0.2s;
    div{
      margin: 13px auto;
      max-width: 284px;
      background-color: #ebebeb;
      color: #4c4f63;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 50px;
      position: relative;
      cursor:pointer;
      border: 1px solid white;
      &:hover{
        transition: 0.2s;
        color: #b0b0b0;
        background-color: #fff;
        border: 1px solid #b0b0b0;
      }
    }
    &:first-child div{
      background-color: #4adaa9;
      color: #ffffff;
      transition: 0.2s;
      border: 1px solid white;
      &:hover{
        transition: 0.2s;
        color: #4adaa9;
        background-color: #fff;
        border: 1px solid #4adaa9;
      }
    }
    div::before{
      content: url("/public/image/pointer-right.png");
      position: absolute;
      right: -15px;
      top: 2px;
    }
  }
}